# GeoNetwork
#
# Access via "http://localhost:8080/geonetwork" (or "http://$(docker-machine ip):8080/geonetwork" if using docker-machine)
#
# Default user: admin
# Default password: admin

version: '3.6'
services:

  postgis:
    container_name: postgis
    image: mdillon/postgis:11-alpine
    restart: on-failure
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: changeme123
    volumes:
      - 'aogeo-pgdata:/var/lib/postgresql/data/'

  geonetwork-postgres:
    image: aogeo/geonetwork-postgres
    build:
      context: ./geonetwork

  aogeo-geonetwork:
    container_name: aogeo-geonetwork
    image: geonetwork:postgres
    depends_on:
      - postgis
    restart: on-failure
    ports:
      - 8080:8080
    environment:
      DATA_DIR: /var/lib/geonetwork
      POSTGRES_DB_HOST: postgis
      POSTGRES_DB_USERNAME: postgres
      POSTGRES_DB_PASSWORD: changeme123
    volumes:
      - type: bind
        source: './volumes/aogeo-geonetwork'
        target: '/var/lib/geonetwork'

volumes:
  aogeo-pgdata:
    external: true
